body{
    background: rgb(255, 255, 255);
    text-balign: left;
    margin-left: auto;
    margin-right: auto;
}

h1{
    background: rgb(186, 186, 186);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    
}