body{
    background: rgb(252, 210, 169);
    text-balign: left;
    margin-left: auto;
    margin-right: auto;

}

h1{
    background: rgb(255, 126, 40);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    
}

h1{
    text-align: center;
}


header{
    background: rgb rgb(0, 0, 0);
    padding: 10px;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    width: 80%;

}

a{
    background: rgb rgb(255, 0, 0);
    color: rgb(255, 102, 0);
}



main{
    background: yellow;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-radius: 10px;
    width: 80%;
}

iframe{
    width: 80%;
    margin-right: auto;
}
